Django==1.11.3
psycopg2==2.7.1
gunicorn==19.7.1
dj-database-url==0.4.2
django_cors_headers==2.1.0
django-filter==1.0.4
djangorestframework==3.6.4
django-sql-explorer==1.1.1
whitenoise==3.3.0
beautifulsoup4==4.6.0
requests==2.18.1
python-dotenv==0.7.1